site_name: Mitchel Pawirodinomo
site_url: https://pawiromitchel.com/
repo_url: https://github.com/pawiromitchel/pawiromitchel.com
edit_uri: edit/main/docs/
repo_name: pawiromitchel/pawiromitchel.com

theme:
  name: material
  custom_dir: overrides
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default 
      primary: black
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  features:
    - header.autohide
    - toc.follow
    - toc.integrate
    - navigation.top
    - navigation.tracking
    - navigation.sections
    - navigation.tabs
    - navigation.expand
  icon:
    repo: fontawesome/brands/github

extra_css:
  - assets/css/custom.css

plugins:
  - search

nav:
  - Home: index.md
  - Experience: experience/index.md
  - Projects: projects/index.md
  - Skills: skills/index.md
  - Education: education/index.md
  - Blog:
    - Overview: blog/index.md
    - Local AI with Ollama: blog/local-ai-with-ollama.md
    - Telegram Bots: blog/create-telegram-bots.md
    - Node.js Setup: blog/nodejs-proj-setup.md
    - Web Scraping: blog/scraping-websites-with-puppeteer.md
    - Remote Jobs: blog/getting-a-remote-job.md

extra:
  social:
    - icon: fontawesome/brands/github 
      link: https://github.com/pawiromitchel
    - icon: fontawesome/brands/twitter 
      link: https://twitter.com/pawiromitchel
    - icon: fontawesome/brands/linkedin 
      link: https://www.linkedin.com/in/mitchel-pawirodinomo/

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - def_list
  - meta
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg